---
- name: Install OpenSSH server
  apt:
    name: openssh-server
    state: present

- name: Harden SSH configuration
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^{{ item.key }}"
    line: "{{ item.key }} {{ item.value }}"
    state: present
  loop:
    - { key: "PermitRootLogin", value: "no" }
    - { key: "PasswordAuthentication", value: "no" }
    - { key: "X11Forwarding", value: "no" }
    - { key: "MaxAuthTries", value: "3" }
    - { key: "LoginGraceTime", value: "30" }
  notify: Restart SSH

